@keyframes shake-animation {
    0%   {top:0px;}
    50%  {top:-80px;}
    100% {top:0px;}
}

#computer_score, #player_score{
    font-weight: bold;
    font-size: 300%;
}

.shake{
    position: relative;
    animation-name: shake-animation;
    animation-duration: 0.3s;
    animation-iteration-count: 3;
}

* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    background-color: #3b84ac;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.score.flex-container {
    flex-direction: row;
    justify-content: center;
    margin: 100px;
}

.intro.flex-container {
    flex-direction: column;
    justify-content: center;
    margin: 50px 50px 50px;
}

.intro * {
    margin: 20px;
}

.computer-score, .player-score {
    margin: 10px 100px;
}

.player-hand {
    -webkit-transform: scaleX(-1);
}

button {
    padding: 10px 20px;
    background-color: lightblue;
}

.hide {
    display: none;
}